.nav-ber a {
    text-decoration: none;
    margin: 8px;
    padding: 5px;
    border-bottom: 3px solid #8080808e;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    transition: .4s;
}

.nav-ber a:hover {
    color: orangered;
    border-bottom: 3px solid orangered;
}